@using Microsoft.EntityFrameworkCore
@using WatchBoard.Services.Database
@using WatchBoard.Services.Database.Entities
@using WatchBoard.Services.Helpers
@inherits LayoutComponentBase
@inject AppDbContext Db
@inject IHttpContextAccessor Ctx

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <title>Watch Board</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/lib/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/bootstrap-icons.min.css" rel="stylesheet"/>
    <link href="/css/app.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">watch board</a>
        <button class="navbar-brand navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Board: @SelectedBoard.Name
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var b in Boards)
                        {
                            <li><a class="dropdown-item" href="/?boardId=@(b.Id)">@b.Name</a></li>
                        }
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#searchDrawer" aria-controls="searchDrawer">
                    <i class="bi bi-search"></i> Search
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    @Body
</div>

<script src="/lib/Sortable.min.js"></script>
<script src="/lib/bootstrap.bundle.min.js"></script>
<script src="/lib/htmx.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>

@code {
    private List<Board> Boards { get; set; } = [];
    private Board SelectedBoard { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Boards = await Db.Boards.AsNoTracking().OrderByDescending(x => x.Name).ToListAsync();
        SelectedBoard = Ctx.HttpContext?.GetSelectedBoard(Boards) ?? new Board();
        await base.OnInitializedAsync();
    }

}