@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <title>Watch Board</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/lib/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/bootstrap-icons.min.css" rel="stylesheet"/>
    <link href="/css/app.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid mx-4">
        <a class="navbar-brand" href="#">
            <SectionOutlet SectionName="selected-board-name" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-flex justify-content-end" id="navbarTogglerDemo02">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#searchDrawer" aria-controls="searchDrawer">
                        <i class="bi bi-search"></i> Search
                    </button>
                </li>
                <li class="nav-item dropdown">
                    <SectionOutlet SectionName="board-dropdown" />
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid px-md-4">
    @Body
</div>

<script src="/lib/Sortable.min.js"></script>
<script src="/lib/bootstrap.bundle.min.js"></script>
<script src="/lib/htmx.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>