@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <title>Watch Board</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/lib/bootstrap.min.css" rel="stylesheet"/>
    <link href="/lib/bootstrap-icons.min.css" rel="stylesheet"/>
    <link href="/css/app.css" rel="stylesheet" type="text/css"/>
</head>

<body>

@Body

<script src="/lib/Sortable.min.js"></script>
<script src="/lib/bootstrap.bundle.min.js"></script>
<script src="/lib/htmx.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>