@using WatchBoard.PagesAdmin.Shared
@using WatchBoard.PagesAdmin.Partials
@using WatchBoard.Services.Database.Entities
@layout _Layout

<div class="row mt-4 mb-3">
    <h5><i class="bi bi-view-stacked"></i> Manage Boards</h5>
    <p class="text-muted">
        Manage boards and the lists for each board. </p>
</div>

@foreach (var b in BoardModels)
{
    <_Board BoardModel="b"></_Board>
}

@code {

    [Parameter]
    public List<Board> BoardModels { get; set; } = [];

}