@using WatchBoard.PagesAdmin.Shared
@using WatchBoard.Services.TmDb.Models
@layout _Layout

<div class="row mt-4 mb-3">
    <h5><i class="bi bi-eye"></i> Manage Watch Providers</h5>
    <p class="text-muted">
        Include providers to make them available on TV Shows and Movies. <br/>
        Set as Default to auto-assign the provider to new items if that provider is an option.
    </p>
</div>

<input class="form-control mb-2 w-50" type="text" id="providerFilter" onkeyup="filterProviders()" placeholder="filter by name..">

<table class="table table-sm table-striped">
    <thead>
    <tr>
        <td></td>
        <td class="text-center">Include</td>
        <td class="text-center">Default</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var provider in ProvidersList)
    {
        <tr class="availableProvider">
            <td class="px-2">
                <label for="includeProvider-@(provider.ProviderId)">@provider.ProviderName</label>
            </td>
            <td class="text-center" style="width: 80px;">
                <input class="form-check-input" type="checkbox" id="includeProvider-@(provider.ProviderId)">
            </td>
            <td class="text-center" style="width: 80px;">
                <input class="form-check-input" type="checkbox" id="defaultProvider-@(provider.ProviderId)">
            </td>
        </tr>
    }
    </tbody>
</table>

<script>
    function filterProviders() {
        let input = document.getElementById('providerFilter');
        let filter = input.value.toUpperCase();
        
        let items = document.getElementsByClassName('availableProvider');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < items.length; i++) {
            let span = items[i].getElementsByTagName("label")[0];
            let txtValue = span.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                items[i].style.display = "";
            } else {
                items[i].style.display = "none";
            }
        }
    }
</script>

@code {

    [Parameter]
    public List<TmDbProvider> ProvidersList { get; set; } = [];

    private List<string> SelectedProviders { get; } = ["jgsvbdvdv", "jjdbdgd"];

}