@using WatchBoard.Database.Entities
<h4> @ListModel.Name </h4>

<form class="row sortable" hx-put="/app/lists/@(ListModel.Id)/items" hx-trigger="sort" hx-swap="none">
    @foreach (var i in ListModel.Items)
    {
        @if (ViewMode != "posters")
        {
            <div class="col-sm-12 col-md-4 col-xl-3" id="card-@(i.Id)">
                <input type='hidden' name='item' value='@i.Id'/>
                <_Item ItemModel="i"></_Item>
            </div>
        }
        else
        {
            <div class="col-sm-6 col-md-2 col-xl-2" id="card-@(i.Id)">
                <input type='hidden' name='item' value='@i.Id'/>
                <_ItemPoster ItemModel="i"></_ItemPoster>
            </div>
        }
    }
</form>

@code {

    [Parameter]
    public List ListModel { get; set; } = new() {Items = []};

    [Parameter]
    public string ViewMode { get; set; } = "Backdrops";

}