@using WatchBoard.Database.Entities
<h4> @ListModel.Name </h4>

<form class="row sortable" hx-put="/app/lists/@(ListModel.Id)/items" hx-trigger="sort" hx-swap="none">

    @foreach (var i in ListModel.Items)
    {
        <_Item ItemModel="i"></_Item>
    }
</form>

@code {

    [Parameter]
    public List ListModel { get; set; } = new() {Items = []};

}