@using WatchBoard.Services.Database.Entities
<h4> @ListModel.Name </h4>

<form class="sortable d-flex flex-wrap gap-4" hx-put="/app/lists/@(ListModel.Id)/items" hx-trigger="sort" hx-swap="none">
    @foreach (var i in ListModel.Items)
    {
        <div>
            <input type='hidden' name='item' value='@i.Id'/>
            <_Item ItemModel="i" OtherBoards="OtherBoards"></_Item>
        </div>
    }
</form>

@code {

    [Parameter]
    public List ListModel { get; set; } = new() {Items = []};

    [Parameter]
    public List<Board> OtherBoards { get; set; } = [];

}