@using WatchBoard.Services.Database.Entities

<h4> @ListModel.Name </h4>

<form class="sortable d-flex flex-wrap justify-content-start"
      hx-put="/app/boards/@(SelectedBoard)/lists/@(ListModel.Id)/items" hx-trigger="sort" hx-swap="none">
    @foreach (var i in ListModel.Items)
    {
        <div>
            <input type='hidden' name='item' value='@i.Id'/>
            <_Item ItemModel="i" SelectedBoard="SelectedBoard" SelectedList="ListModel.Id"></_Item>
        </div>
    }
</form>

@code {

    [Parameter]
    public Guid SelectedBoard { get; set; } = Guid.Empty;

    [Parameter]
    public List ListModel { get; set; } = new() {Items = []};

}