@using WatchBoard.Services.Database.Entities

<h4> @ListModel.Name </h4>

<form class="sortable" hx-put="/app/lists/@(ListModel.Id)/items" hx-trigger="sort" hx-swap="none">
    @foreach (var i in ListModel.Items)
    {
        <div class="mb-3">
            <input type='hidden' name='item' value='@i.Id'/>
            <_Item ItemModel="i"></_Item>
        </div>
    }
</form>

@code {
    
    [Parameter]
    public List ListModel { get; set; } = new() {Items = []};

}