@using WatchBoard.Services.Database.Entities

<h4> @ListModel.Name </h4>

<form class="sortable row justify-content-start"
      hx-put="/app/boards/@(SelectedBoard)/lists/@(ListModel.Id)/items" hx-trigger="sort" hx-swap="none">
    @foreach (var i in ListModel.Items)
    {
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <input type='hidden' name='item' value='@i.Id'/>
            <_Item ItemModel="i" SelectedBoard="SelectedBoard" SelectedList="ListModel.Id" Lists="Lists"></_Item>
        </div>
    }
</form>

@code {

    [Parameter]
    public Guid SelectedBoard { get; set; } = Guid.Empty;

    [Parameter]
    public List<List> Lists { get; set; } = [];
    
    [Parameter]
    public List ListModel { get; set; } = new() {Items = []};

}