@using WatchBoard.Services.Database.Entities

<h4> Search Results </h4>

<div class="d-flex flex-wrap justify-content-center">
    @foreach (var item in Items)
    {
        <_Item ItemModel="item" SelectedBoard="SelectedBoard" SelectedList="SelectedList"></_Item>
    }
</div>

@code {

    [Parameter] public Guid SelectedBoard { get; set; } = Guid.Empty;

    [Parameter] public Guid SelectedList { get; set; } = Guid.Empty;

    [Parameter] public List<Item> Items { get; set; } = [];
}