@using WatchBoard.Services.Database.Entities

<div class="divider">Search</div>

<div class="flex flex-wrap gap-4 ml-4">
    @foreach (var item in Items)
    {
        <div>
            <img src="@item.PosterUrl" alt="poster"/>
        </div>
    }
</div>

@code {

    [Parameter] public List<Item> Items { get; set; } = [];
}