@using WatchBoard.Services.Database.Entities

<div class="divider">Search</div>

<div class="flex flex-wrap gap-4 ml-4">
    @foreach (var item in Items)
    {
        <_Item ItemModel="item" SelectedBoard="SelectedBoard" SelectedList="SelectedList"></_Item>
    }
</div>

@code {

    [Parameter]
    public Guid SelectedBoard { get; set; } = Guid.Empty;
    
    [Parameter]
    public Guid SelectedList { get; set; } = Guid.Empty;
    
    [Parameter]
    public List<Item> Items { get; set; } = [];
}