@using WatchBoard.Services.Database.Entities

<ul>
    @foreach (var item in Items)
    {
        <li>
            @item.Name<br/>
            <img src="@item.PosterUrl" alt="poster"/>>
        </li>
    }
</ul>

@code {

    [Parameter] public List<Item> Items { get; set; } = [];
}