@using WatchBoard.Pages.Shared
@using WatchBoard.Services.TmDb.Models
@using WatchBoard.Pages.Partials
@layout _Layout

<div class="card mt-4">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">Providers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Select Watch Providers</h5>
        <p class="card-text">Check the Selected providers to automatically assign that provider when items are added.
            The first checked provider will be used when available.</p>

        <div class="row">

            <div class="col-sm-6">
                <h4> All Providers </h4>
                <input class="form-control mb-2" type="text" id="providerFilter" onkeyup="filterProviders()" placeholder="filter by name..">
                <form class="sortable" id="availableProviders">
                    @foreach (var provider in ProvidersList)
                    {
                        <div class="availableProvider">
                            <input type='hidden' name='item' value='@provider.ProviderId'/>
                            <div class="d-inline-flex align-items-center gap-2">
                                <img src="/img/apple.jpg" alt="apple"/>
                                <span>@provider.ProviderName</span>
                            </div>
                            <div class="float-end">
                                <button class="btn"><i class="bi bi-arrow-right"></i></button>
                            </div>
                        </div>
                    }
                </form>
            </div>

            <div class="col-sm-6">
                <h4> Selected </h4>
                <form class="sortable">
                    @foreach (var provider in SelectedProviders)
                    {
                        <div>
                            <input type='hidden' name='item' value='@provider'/>
                            <div class="d-inline-flex align-items-center gap-2">
                                <img src="/img/apple.jpg" alt="apple"/>
                                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                <label class="form-check-label" for="inlineFormCheck">
                                    @provider
                                </label>
                            </div>
                        </div>
                    }
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    function filterProviders() {
        let input = document.getElementById('providerFilter');
        let filter = input.value.toUpperCase();

        let d = document.getElementById("availableProviders");
        let items = d.getElementsByClassName('availableProvider');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < items.length; i++) {
            let span = items[i].getElementsByTagName("span")[0];
            let txtValue = span.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                items[i].style.display = "";
            } else {
                items[i].style.display = "none";
            }
        }
    }
</script>

@code {

    [Parameter]
    public List<TmDbProvider> ProvidersList { get; set; } = [];

    private List<string> Providers { get; set; } = ["kjkj", "jjhjghh"];
    private List<string> SelectedProviders { get; } = ["jgsvbdvdv", "jjdbdgd"];

}