@using WatchBoard.Pages.Shared
@using WatchBoard.Pages.Partials
@using WatchBoard.Services.Database.Entities
@layout _Layout

<_Search></_Search>

<div class="row">
    @foreach (var l in Lists)
    {
        <div class="col-xs-12 col-sm-6 col-md-4" hx-get="/app/lists/@(l.Id)" hx-trigger="newItem from:body" hx-target="this">
            <_List ListModel="l" OtherBoards="OtherBoards"></_List>
        </div>
    }
</div>

@code {

    [Parameter]
    public List<List> Lists { get; set; } = [];

    [Parameter]
    public List<Board> Boards { get; set; } = [];

    private List<Board> OtherBoards => Boards.Where(x => x.Id != Lists.FirstOrDefault()?.BoardId).ToList();
}