@using WatchBoard.Pages.Shared
@using WatchBoard.Pages.Partials
@using WatchBoard.Services.Database.Entities
@using Microsoft.AspNetCore.Components.Sections
@layout _Layout

<_Search></_Search>

<div>
    @foreach (var l in Lists)
    {
        <div class="mb-4" hx-get="/app/lists/@(l.Id)" hx-trigger="newItem from:body" hx-target="this">
            <_List ListModel="l"></_List>
        </div>
    }
</div>

<!-- Bootstrap Modal for ItemDetails -->
<div id="modals-here"
     class="modal modal-blur fade"
     style="display: none"
     aria-hidden="false"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">XXX</div>
    </div>
</div>

<SectionContent SectionName="selected-board-name">
    <span>@SelectedBoard.Name</span>
</SectionContent>

<SectionContent SectionName="board-dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-view-stacked"></i> @SelectedBoard.Name
    </a>
    <ul class="dropdown-menu">
        @foreach (var b in Boards)
        {
            <li><a class="dropdown-item" href="/?boardId=@(b.Id)">@b.Name</a></li>
        }
    </ul>
</SectionContent>

@code {

    [Parameter]
    public List<List> Lists { get; set; } = [];

    [Parameter]
    public List<Board> Boards { get; set; } = [];

    private Board SelectedBoard => Boards.FirstOrDefault(x => x.Id == Lists[0].BoardId) ?? Boards.First();

}