@using WatchBoard.Pages.Shared
@using WatchBoard.Pages.Partials
@using WatchBoard.Database.Entities
@layout _Layout

<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid mx-4">
        <a class="navbar-brand" href="#">
            <span><i class="bi bi-person-workspace"></i> @SelectedBoard.Name</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-flex justify-content-end" id="navbarTogglerDemo02">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link me-3" data-bs-toggle="offcanvas" data-bs-target="#searchDrawer" aria-controls="searchDrawer">
                        <i class="bi bi-search"></i> Search
                    </button>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/?boardId=@(SelectedBoard.Id)&v=posters">
                        <i class="bi bi-grid-3x3-gap"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/?boardId=@(SelectedBoard.Id)&v=backdrops">
                        <i class="bi bi-grid"></i>
                    </a>
                </li>
                
                <div class="btn-group">
                    <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-workspace"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        @foreach (var b in Boards.OrderBy(x => x.Order))
                        {
                            <li>
                                @if (b.Id == SelectedBoard.Id)
                                {
                                    <a class="dropdown-item disabled" href="/?boardId=@(b.Id)&v=@(ViewMode)">@b.Name</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="/?boardId=@(b.Id)&v=@(ViewMode)">@b.Name</a>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid px-md-4">
    
    <_Search></_Search>

    <div class="pt-3">
        @foreach (var l in Lists)
        {
            <div hx-get="/app/lists/@(l.Id)" hx-trigger="newItem from:body" hx-target="this">
                <_List ListModel="l" ViewMode="@ViewMode"></_List>
            </div>
        }
    </div>

    <!-- Bootstrap Modal for ItemDetails -->
    <div id="modals-here" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">XXX</div>
        </div>
    </div>
    
</div>

@code {

    [Parameter]
    public List<List> Lists { get; set; } = [];

    [Parameter]
    public List<Board> Boards { get; set; } = [];

    [Parameter]
    public string ViewMode { get; set; } = "Backdrops";
    
    private Board SelectedBoard => Boards.FirstOrDefault(x => x.Id == Lists[0].BoardId) ?? Boards.First();

}