@using WatchBoard.Services.Database.Entities
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Watch Board</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/app.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<form hx-post="/app/search" hx-target="#searchResults">

    <div class="navbar bg-base-300 border-b border-black">
        <div class="flex-1">
            @foreach (var board in Boards)
            {
                if (board.Id == SelectedBoard.Id)
                {
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path
                            d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z"></path>
                    </svg>
                }

                <button class="btn btn-ghost text-l">@board.Name</button>
            }
        </div>
        <div class="flex-none">
            <div class="form-control">
                <label class="input input-sm input-bordered flex items-center gap-2">
                    <input type="text" class="grow" placeholder="Search" name="SearchName"/>
                </label>
            </div>
        </div>
    </div>

    <div id="searchResults" hx-trigger="newItem from:body" hx-swap="delete"></div>
</form>

@foreach (var list in Lists)
{
    <div class="divider">@list.Name</div>
    <div hx-get="/app/lists/@(list.Id)" hx-trigger="newItem from:body" id="list_@(list.Id)">
        <_List ListModel="list" SelectedBoard="SelectedBoard"></_List>
    </div>
}

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/htmx.org@2.0.4"></script>

</body>
</html>

@code {

    [Parameter]
    public List<Board> Boards { get; set; } = [];

    [Parameter]
    public Board SelectedBoard { get; set; } = new();

    [Parameter]
    public List<List> Lists { get; set; } = [];

}