@layout _Layout
@using WatchBoard.Services.Database.Entities

<_Search></_Search>

<div class="row">
    @foreach (var l in Lists)
    {
        <div class="col-xs-12 col-sm-6 col-md-4" hx-get="/app/lists/@(l.Id)" hx-trigger="newItem from:body"
             hx-target="this">
            <_List ListModel="l"></_List>
        </div>
    }
</div>

@code {

    [Parameter]
    public List<List> Lists { get; set; } = [];

}