@using WatchBoard.Pages.Shared
@using WatchBoard.Pages.Partials
@using WatchBoard.Services.Database.Entities
@layout _Layout

<_Search></_Search>

<div>
    @foreach (var l in Lists)
    {
        <div class="mb-4" hx-get="/app/lists/@(l.Id)" hx-trigger="newItem from:body" hx-target="this">
            <_List ListModel="l"></_List>
        </div>
    }
</div>

<!-- Bootstrap Modal -->
<div id="modals-here"
     class="modal modal-blur fade"
     style="display: none"
     aria-hidden="false"
     tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">XXX</div>
    </div>
</div>

@code {

    [Parameter]
    public List<List> Lists { get; set; } = [];

    [Parameter]
    public List<Board> Boards { get; set; } = [];

}