@using WatchBoard.Services.Database.Entities
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Watch Board</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/app.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<div class="navbar bg-base-300">

    <div class="navbar-start">
        <button class="btn btn-circle btn-outline" onclick="searchModal.showModal()">
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path></svg>
        </button>
    </div>

    <div class="navbar-center">
        <a class="btn btn-ghost text-xl">@SelectedBoard.Name</a>
    </div>

    <div class="navbar-end">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost rounded-btn">
                Board: @SelectedBoard.Name
            </div>
            <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-52 p-2 shadow">
                @foreach (var board in Boards)
                {
                    <li>
                        <a>
                            @board.Name
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>

<dialog id="searchModal" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Hello!</h3>
        <p class="py-4">Press ESC key or click the button below to close</p>
        <_SearchResults></_SearchResults>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>

<div class="collapse bg-base-200">
    <input type="checkbox" checked />
    <div class="collapse-title text-xl font-medium">Click me to show/hide content</div>
    <div class="collapse-content">
        <p>hello</p>
    </div>
</div>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/htmx.org@2.0.4"></script>

</body>
</html>

@code {
    [Parameter] public List<Board> Boards { get; set; } = [];
    [Parameter] public Board SelectedBoard { get; set; } = new();
    [Parameter] public List<List> Lists { get; set; } = [];
}